html,body{
    height: 100vh;
    width: 100vw;
    position: fixed;
  overflow: hidden;
}
/* fancy bg */
body, .bg-bg {
  background: white;
  background-image:
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23f5f5f5' fill-opacity='0.75' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E")!important
}

/* wrapper for sidebar */
#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}


#sidebar-wrapper .sidebar-heading {
    height: 68px;
}

#page-content-wrapper .navbar{
    height: 69px;
}

#page-content-wrapper>main{
  height: calc(100% - 69px);
}

#sidebar-wrapper {
    margin-left: 0;
}

#sidebar-wrapper nav{
    margin-top: 68px;
    height: calc(100vh - 68px);
}

/* sidebar items */
#sidebar-wrapper .list-group>.list-group-item {
    padding: .5rem .8rem;
}

#page-content-wrapper {
    min-width: 0;
       width: calc(100% - 7rem);
    margin-left: 7rem;
}

#page-content-wrapper navbar{
  outline: 2px solid dimgray;
}

#wrapper {
    height: 100%;
    width: 100%;
}

a.editable-click{
  padding: 8px 16px;
}
a.editable-click:hover{
  background: whitesmoke;
  outline: 2px dotted black
}

select.editable-input {
    height: 3rem;
    color: #495057;
    background-size: 8px 10px;
    border: 1px solid #becad6;
    font-weight: 300;
    font-size: .95rem;
    transition: box-shadow 250ms cubic-bezier(.27, .01, .38, 1.06), border 250ms cubic-bezier(.27, .01, .38, 1.06);
}

select.editable-input:focus {
    border-color: #007bff;
    box-shadow: 0 .313rem .719rem rgba(0, 123, 255, .1), 0 .156rem .125rem rgba(0, 0, 0, .06)
}

select.editable-input:focus::-ms-value {
    color: #495057;
    background-color: #fff
}

select.editable-input:hover:not(:focus):not(:disabled) {
    cursor: pointer;
    border-color: #8fa4b8
}

main.loading{
  filter:blur(7px);
  transition: filter 5s ease;
}

main.loading-done{
  filter: blur(0);
}

#sidebar-wrapper, .sidebar-heading {
  width: 7rem;
  position: fixed;
}


.swal-overlay{
 background-image:
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000000' fill-opacity='0.75' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E")!important
}